[server]
# username for running the daemon
username = 
# hostname. set it to a FQDN in order to be reached from outside
host = localhost
# ports
electrum_rpc_port = 8879
stratum_tcp_port = 70001
#stratum_tcp_ssl_port = 70002
#report_host = 
#report_stratum_tcp_port = 70001
#report_stratum_tcp_ssl_port = 70002
banner = Welcome to Bit-Electrum!
banner_file = /etc/electrum.banner
#irc = no
#irc_nick = <yournickname>
#ssl_certfile = /path/to/electrum-server.crt
#ssl_keyfile = /path/to/electrum-server.key
logfile = /var/log/electrum.log
donation_address = 

[leveldb]
# path to your database
path = 
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 1000

[bitcreditd]
bitcreditd_host = localhost
bitcreditd_port = 8878
# user and password from bitcredit.conf
bitcreditd_user = 
bitcreditd_password = 
